::selection {
  background: aquamarine;
  color: black;
}

body{
  min-width:1900px !important;
  max-width:100% !important;
  background-size: 1920px 1080px;
  background-image: url(http://img.wangzun233.top/2ef226c23eef24c7a83c4d2c0cde46af.jpg);
  background-repeat: no-repeat;
}
.tu i{
position:absolute;
margin-left: 185px;
margin-top: -40px;
float: left;
}

a{
  text-decoration: none;
}
.words{
 height: 180px;
 font-size: 120px;
 font-family: 'Regular', cursive;
 text-align: center;
}
.words a{
color: #fcf9ec;
transition: all 0.3s;
}
.words :hover{
color:rgb(137, 249, 200);
font-size: 130px;
transition: all 300ms;
}
.days {
 font-family: 'Rye', cursive;
 width: auto;
 text-align: center;
 margin-top: 60px;
 height: 200px;
}
.spanss{

font-size:130px;
font-family: 'Rye', cursive;
}
.days-number {
 transition: all 300ms;
 font-size: 100px;
}
.days-number:hover {
  text-shadow: 5px 5px 15px black;
  font-size: 120px;
  transition: all 300ms;
}
.days-label {
  margin-left: 20px;
 font-size: 54px;
}

.seconds {
 margin-top: 32px;
 font-size: 32px;
 font-family: 'Rye', cursive;
 width:auto;
}

.seconds-label {
  margin-top: 32px;
 font-size: 32px;
 font-family: "Monda_no", Georgia, sans-serif;
 width: auto;
 text-align: center;
}

.container {
  position: inherit !important;
  top: 20px !important;

}
.input_1{
  margin-top: 165px;
  margin-bottom: 50px;
  text-align: center;
}
.input_1 input{
outline: none;   /*去掉点击边框*/
border-radius: 5pc;
border: none;
background: linear-gradient(75deg, #b0f4e6, #fcf9ec);
font-size: 25px;
transition: all 1s;
color: #12d3cf;
opacity:0.0;
}
.input_1 :hover {
color: #fcf9ec;
background: linear-gradient(75deg, #67eaca, #b0f4e6) ;
transition: all 0.5s;
opacity:0.9;
}
.tu{
  opacity:0.0;
}
.footer{
  margin-top: 50px;
text-align: center;
}
.footer a{
color:#fcf9ec;
}
@font-face {
font-family: 'Regular';
font-style: normal;
font-weight: 400;
src: local('Rye Regular'), local('Rye-Regular'), url('./jscss/text1.ttf') format('woff');
}

@font-face {
font-family: 'Rye';
font-style: normal;
font-weight: 400;
src: local('Rye Regular'), local('Rye-Regular'), url('./jscss/Clockopia.ttf') format('woff');
}
@font-face {
font-family: 'Monda_no';
font-style: normal;
font-weight: normal;
src: local('Monda'), local('Monda-Regular'), url('./jscss/Monda-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'Monda_bo';
font-style: normal;
font-weight: bold;
src: local('Monda Bold'), local('Monda-Bold'), url('./jscss/Monda-Bold.ttf') format('truetype');
}
@media (max-width: 600px) {

  .words {
    font-size: 20px;
  }
  .container{
    float: none;
    font-size: 10px;
  }
}
